/* COLOR TITULOS */



/* COLOR BOTONES */

.btn-primary {
    color: #fff;
    background-color: #705ECE;
    border-color: #705ECE;
}


.btn-default {
    color: #705ECE;
    background-color: #fff;
    border-color: #705ECE;
}